/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}



@font-face {
  font-family: cartoon;
  src: url(font/Childhood-Bold.otf);
}

body {
  font-family: cartoon;
  background-image: url("/Pictures/Background.png");
  background-size: cover;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shipLocationIcon {
  width: 200px;
  margin: 20px 100px 0px 150px;
}

.salvoesLocationIcon {
  width: 200px;
  margin: 20px 100px 0px 150px;
}

.shipContainer {
  height: auto;
  width: auto;
}

#shipLocationGrid {
  background-image: url("/Pictures/sea.png");
}

#shipSelectionPannel {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 20px 0px;
}

.salvoContainer {
  height: auto;
  width: auto;
}

.salvoSelectionPannel {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 20px 0px;
}


#salvoLocationGrid {
  background-image: url("/Pictures/sea.png");
}



div[square="squareGrid"] {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

span {
  display: inline-block;
}



.red {
  background: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

div[placed="yellow"] {
  background-color: yellow;
}

div[placed="orange"] {
  background-color: orange;
}

div[salvo="orange"] {
  background-color: orange;
}

div[hit="red"] {
  background-color: red;
}

div[sunk="black"] {
  background-color: grey;
}

div[ship="carrierHor"] {
  background-image: url("Picture/cruiserHor1.png");
}

div[cruiser="frontHor"] {
  background-image: url("Pictures/Cruiser/cruiserFrontHor.png");
}

div[cruiser="midHor"] {
  background-image: url("Pictures/Cruiser/cruiserMidHor.png");
}

div[cruiser="backHor"] {
  background-image: url("Pictures/Cruiser/cruiserBackHor.png");
}

div[cruiser="frontVer"] {
  background-image: url("Pictures/Cruiser/cruiserFrontVer.png");
}

div[cruiser="midVer"] {
  background-image: url("Pictures/Cruiser/cruiserMidVer.png");
}

div[cruiser="backVer"] {
  background-image: url("Pictures/Cruiser/cruiserBackVer.png");
}